# Dependency directories
node_modules/


# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDE / Editor files
.idea/
.vscode/
*.code-workspace

# macOS files
.DS_Store



# Yarn lock file
yarn.lock
